body {
    background-color: #f6fafb;
    color: #252b31;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.main {
    background-color: #ffffff;
    box-shadow: 3px 3px 2px #c1c8c7;
    padding: 1em 0 1em 0;
}

.left-sidebar {
    padding: 0 0 1em 0;
}

.right-sidebar {
    padding: 1em 0 1em 0;
}

.main-image {
    max-width: 50%;
    height: auto;
}

.inline-image {
    display: inline;
    height: 2em;
}

.flag {
    display: inline;
    height: 1.1em;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .main-image {
        max-width: 100%
    }

    .page-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .left-sidebar {
        width: 10%;
        margin-left: auto;
        padding: 1em 2em 1em 0;
    }

    .main {
        width: 30%;
        padding: 1em 3em 1em 3em;
    }

    .right-sidebar {
        width: 10%;
        margin-right: auto;
        padding: 1em 0 1em 2em;
    }
};
